#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 6rem 2rem 2rem; /* Adiciona um padding no topo para o conteúdo não ficar atrás do nav */
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #291966;
}

.nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin: 5px;
}

.nav ul li {
  margin: 5px;
}

.nav a {
  color: #b1a3e7;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  color: #291966;
}